html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #a2d456;
  color: white;
}

a, p, input {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  color: white;
}

img {
  max-width: 100%;
}